/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600;700;800;900&display=swap');

html,
body,
#root,
.app{
    height: 100%;
    width: 100%;
    /* font-family: "Inter", sans-serif; */
    font-family: 'Outfit', sans-serif;
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background-color: #997d3d;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background-color: #cca752,
    /* //   700: "#997d3d"; */
}

/* Handle on Hover */
::-webkit-scrollbar-track:hover{
    background-color: #cca752;
}